@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Resetting margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global body styles */
body {
  font-family: 'Poppins', sans-serif;
}

/* Additional global styles can go here */